<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"
    />
    <meta name="htmx-config" content='{"selfRequestsOnly": false}' />
    <title>
      Responsive GIF Viewport with Buttons, Search Bar, and Category Icons
    </title>
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/horizontalmenu.css" />
    <link rel="stylesheet" href="styles/categorycontainer.css" />
    <link rel="stylesheet" href="styles/overlay.css" />
    <link rel="stylesheet" href="styles/gifcontainer.css" />
    <link rel="stylesheet" href="styles/searchcontainer.css" />
    <link rel="stylesheet" href="styles/searchmode.css" />
    <link rel="stylesheet" href="styles/scrolldownmenu.css" />
    <link rel="stylesheet" href="styles/home.css" />
    <link rel="stylesheet" href="styles/swipenavigate.css" />
    <script
      src="js/htmx.min.js"
      defer
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      cache="force-cache"
    ></script>
  </head>
  <body>
    <!-- New navbar -->
    <div class="header">
      <nav class="navbar">
        <div class="search-bar">
          <button id="home-button" aria-label="Home">
            <i>house</i>
          </button>
          <input type="text" id="search-input" placeholder="Search..." />
          <button id="info-button" aria-label="Information">
            <i>info</i>
          </button>
        </div>
      </nav>
      <div class="menu">
        <div class="menu--wrapper">
          <!-- The menu items will be dynamically created by JavaScript -->
        </div>
      </div>
    </div>

    <div class="gif-container">
      <video autoplay loop muted playsinline class="gif-image-wrapper">
        <source
          src="/assets/output.webm"
          type="video/webm"
          class="gif-image"
          alt="Car driving ont the road"
        />
      </video>
      <div class="button-container-left">
        <a href="/menu.html"> <button class="button">≡</button></a>
        <button
          class="gif-container-button button"
          hx-get="https://server.grabbiel.com/donate"
          hx-trigger="click"
          hx-target="#content-box"
          hx-swap="innerHTML "
          hx-swap-oob="true"
          idx="16"
        >
          💸
        </button>
        <button
          class="gif-container-button button"
          hx-get="https://server.grabbiel.com/assets"
          hx-trigger="click"
          hx-target="#content-box"
          hx-swap="innerHTML "
          hx-swap-oob="true"
          idx="22"
        >
          🛍️
        </button>
      </div>
      <div class="button-container-right">
        <button
          class="gif-container-button button"
          hx-get="https://server.grabbiel.com/forum"
          hx-trigger="click"
          hx-target="#content-box"
          hx-swap="innerHTML "
          hx-swap-oob="true"
          idx="23"
        >
          💬
        </button>
        <button
          class="gif-container-button button"
          hx-get="https://server.grabbiel.com/updates"
          hx-trigger="click"
          hx-target="#content-box"
          hx-swap="innerHTML "
          hx-swap-oob="true"
          idx="24"
        >
          🔔
        </button>
        <button
          class="gif-container-button button"
          hx-get="https://server.grabbiel.com/me"
          hx-trigger="click"
          hx-target="#content-box"
          hx-swap="innerHTML "
          hx-swap-oob="true"
          idx="25"
        >
          👱
        </button>
      </div>
    </div>
    <div class="search-container">
      <div class="main-search-bar">
        <svg
          class="search-icon"
          xmlns="https://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
          />
        </svg>
        <input type="text" class="search-input" placeholder="Search me" />
        <button class="search-button"></button>
      </div>
    </div>
    <div class="category-container">
      <a
        class="category-button"
        index="2"
        hx-get="https://server.grabbiel.com/news"
        hx-trigger="click"
        hx-target="#content-box"
        hx-swap="innerHTML "
        hx-swap-oob="true"
      >
        <div class="category-icon">📰</div>
        <span>news</span>
      </a>
      <a
        href="#"
        class="category-button"
        index="15"
        hx-get="https://server.grabbiel.com/wishlist"
        hx-trigger="click"
        hx-target="#content-box"
        hx-swap="innerHTML "
        hx-swap-oob="true"
      >
        <div class="category-icon">🛒</div>
        <span>wishlist</span>
      </a>
      <a
        class="category-button"
        index="21"
        hx-get="https://server.grabbiel.com/stats"
        hx-trigger="click"
        hx-target="#content-box"
        hx-swap="innerHTML "
        hx-swap-oob="true"
      >
        <div class="category-icon">📈</div>
        <span>stats</span>
      </a>
      <a
        class="category-button"
        index="3"
        hx-get="https://server.grabbiel.com/videos"
        hx-trigger="click"
        hx-target="#content-box"
        hx-swap="innerHTML "
        hx-swap-oob="true"
      >
        <div class="category-icon">▶️</div>
        <span>videos</span>
      </a>
      <a
        class="category-button"
        index="10"
        hx-get="https://server.grabbiel.com/write"
        hx-trigger="click"
        hx-target="#content-box"
        hx-swap="innerHTML "
        hx-swap-oob="true"
      >
        <div class="category-icon">📧</div>
        <span>write</span>
      </a>
      <a
        class="category-button"
        index="18"
        hx-get="https://server.grabbiel.com/leetcode"
        hx-trigger="click"
        hx-target="#content-box"
        hx-swap="innerHTML "
        hx-swap-oob="true"
      >
        <div class="category-icon">☕</div>
        <span>leetcode</span>
      </a>
      <a
        class="category-button"
        index="1"
        hx-get="https://server.grabbiel.com/links"
        hx-trigger="click"
        hx-target="#content-box"
        hx-swap="innerHTML"
        hx-swap-oob="true"
      >
        <div class="category-icon">📝</div>
        <span>links</span>
      </a>
      <a class="category-button" href="/menu.html">
        <div class="category-icon">⋯</div>
        <span>other</span>
      </a>
    </div>

    <div
      id="content-box"
      class="content"
      style="padding-top: 10vh; width: 100vw; min-height: 200vh"
      hx-swap="innerHTML"
    ></div>

    <div id="search-mode" class="search-mode">
      <div class="search-mode-bar">
        <button id="back-button" aria-label="Back">
          <i>arrow_back</i>
        </button>
        <input type="text" id="search-mode-input" placeholder="Search..." />
        <button id="search-button" aria-label="Search">
          <i>search</i>
        </button>
      </div>
    </div>
    <div id="overlay" class="overlay">
      <div class="popup">
        <button id="close-popup" aria-label="Close">
          <i>close</i>
        </button>
        <h2>by Francisco Cruzado</h2>
        <p id="page-info"></p>
      </div>
    </div>

    <script src="js/horizontalmenu.js"></script>
    <script src="js/scrollnavbar.js"></script>
    <script src="js/categories.js"></script>
    <script src="js/infobutton.js"></script>
    <script src="js/searchbar.js"></script>
    <script src="js/swipenavigate.js"></script>

    <script>
      const category_buttons =
        document.getElementsByClassName("category-button");
      for (let i = 0; i < category_buttons.length; ++i) {
        let index = category_buttons[i].getAttribute("index");
        if (!index) continue;
        category_buttons[i].addEventListener("click", () => focusItem(index));
      }
      const navbar_buttons = document.getElementsByClassName(
        "gif-container-button",
      );
      for (let i = 0; i < navbar_buttons.length; ++i) {
        let index = navbar_buttons[i].getAttribute("idx");
        if (!index) continue;
        navbar_buttons[i].addEventListener("click", () => focusItem(index));
      }
    </script>
  </body>
</html>
