/* Header styles */
.header {
  top: -25vh;
  left: 0;
  right: 0;
  transition: top 0.3s ease-in-out;
  position: fixed;
  width: 100vw;
}
.header.visible {
  top: 0;
}

body.content-page .header {
  top: 0 !important;
  position: fixed;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
body.content-page #page-content {
  margin-top: 15vh;
  padding-top: 0;
}
body.content-page .gif-container,
body.content-page .search-container,
body.content-page .category-container {
  display: none !important;
}
